<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<properties resource="config/datasource.properties" />
	
	<typeAliases>
		<typeAlias type="com.oracle.gdms.entity.GoodsType" alias="GoodsType"/>
		<typeAlias type="com.oracle.gdms.entity.UserModel" alias="User"/>
		<typeAlias type="com.oracle.gdms.entity.AreaModel" alias="Area"/>
		<typeAlias type="com.oracle.gdms.entity.GoodsModel" alias="Goods"/>
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${urlstr}" />
				<property name="username" value="${uid}" />
				<property name="password" value="${pwd}" />
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="com/oracle/gdms/dao/GoodsTypeDao.xml"/>
		<mapper resource="com/oracle/gdms/dao/UserDao.xml"/>
		<mapper resource="com/oracle/gdms/dao/AreaDao.xml"/>
		<mapper resource="com/oracle/gdms/dao/GoodsDao.xml"/>
	</mappers>
	
</configuration>